<a href="https://colab.research.google.com/github/Fabian-LG/RedNeuronal-prediccion/blob/main/ScriptPredicciones.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import joblib

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

#Red neuronal secuencial
from tensorflow.keras.models import Sequential
#Capa completamente conectada
from tensorflow.keras.layers import Dense, Normalization
#Optimizador
from tensorflow.keras.optimizers import Adam
import tensorflow as tf


from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

from sklearn.metrics import r2_score

In [ ]:
data = pd.read_csv('data.csv', encoding='unicode_escape')
data.columns = ['Estanque', 'Hectareas', 'tC_am', 'tC_pm','O2_am', 'O2_pm', 'Biomasa', 'Dias_cultivo', 'Dia_anio', 'Total']
df = pd.DataFrame(data)

df = df.loc[:,['Estanque', 'Hectareas', 'tC_am', 'O2_am', 'Biomasa', 'Dias_cultivo', 'Dia_anio', 'Total']]

df = df.dropna()
df

,Estanque,Hectareas,tC_am,O2_am,Biomasa,Dias_cultivo,Dia_anio,Total
285,1,6,21.5,5.0,528.0,18,114,75.00
286,2,6,21.8,4.9,424.0,18,114,75.00
287,3,6,21.5,4.7,444.0,18,114,75.00
288,4,6,21.7,5.2,487.0,18,114,75.00
289,5,6,21.9,5.0,464.0,18,114,75.00
...,...,...,...,...,...,...,...,...
2410,20,6,31.3,4.2,14392.0,108,204,376.25
2411,21,6,31.2,4.3,15090.0,108,204,302.19
2412,22,6,31.3,3.9,14735.0,108,204,402.32
2413,23,6,31.3,4.1,14872.0,108,204,352.13
2414,24,5,30.9,4.3,12681.0,108,204,201.45

In [ ]:
scaler = MinMaxScaler().fit(df)
scaler

MinMaxScaler()

In [ ]:
data_norm = scaler.transform(df)

data_norm_df = pd.DataFrame(data_norm, columns=['Estanque', 'Hectareas', 'tC_am', 'O2_am', 'Biomasa', 'Dias_cultivo', 'Dia_anio', 'Total'])

data_norm_df

,Estanque,Hectareas,tC_am,O2_am,Biomasa,Dias_cultivo,Dia_anio,Total
0,0.000000,0.5,0.115702,0.758621,0.018910,0.0,0.0,0.047533
1,0.043478,0.5,0.140496,0.741379,0.012968,0.0,0.0,0.047533
2,0.086957,0.5,0.115702,0.706897,0.014111,0.0,0.0,0.047533
3,0.130435,0.5,0.132231,0.793103,0.016568,0.0,0.0,0.047533
4,0.173913,0.5,0.148760,0.758621,0.015254,0.0,0.0,0.047533
...,...,...,...,...,...,...,...,...
2065,0.826087,0.5,0.925620,0.620690,0.810957,1.0,1.0,0.620306
2066,0.869565,0.5,0.917355,0.637931,0.850834,1.0,1.0,0.479494
2067,0.913043,0.5,0.925620,0.568966,0.830553,1.0,1.0,0.669874
2068,0.956522,0.5,0.925620,0.603448,0.838380,1.0,1.0,0.574446
2069,1.000000,0.0,0.892562,0.637931,0.713208,1.0,1.0,0.287955

In [ ]:
modelin = joblib.load('intento1.pkl')

In [ ]:
def nuevosValores(params):

  parametros = pd.DataFrame({'Estanque': [params[0]], 'Hectareas': [params[1]], 'tC_am': [params[2]], 'O2_am': [params[3]], 'Biomasa': [params[4]],'Dias_cultivo': [params[5]],'Dia_anio': [params[6]], 'Total': [None]})
  nuevoDf_norm = scaler.transform(parametros)

  valoresNorm = nuevoDf_norm[0][0:7]

  return valoresNorm

In [ ]:
def prediccionIt(prd):

  prediccion=pd.DataFrame({'Estanque': [None], 'Hectareas': [None], 'tC_am': [None], 'O2_am': [None], 'Biomasa': [None],'Dias_cultivo': [None],'Dia_anio': [None], 'Total': [prd]})
  nuevo_it = scaler.inverse_transform(np.array(prediccion))

  prediccionIt = nuevo_it[0][-1]

  return prediccionIt

In [ ]:
def prediccionDef (params):
  i = nuevosValores(params)
  i = i.tolist()
  prediccion = modelin.predict([i])
  valorPredicho = prediccionIt(prediccion)

  return valorPredicho

In [ ]:
n = nuevosValores([1, 6, 21.5, 5, 528, 18, 114])
n = n.tolist()
n

[0.0,
 0.5,
 0.11570247933884303,
 0.7586206896551724,
 0.018909963436928703,
 0.0,
 0.0]

In [ ]:
prediccionIt(0.01332939)

57.010592670499996

In [ ]:
prediccionDef([2, 6, 21.8, 4.9, 424, 18, 114])

1/1 [==============================] - 0s 444ms/step

62.59616418248043